@use '../../../scss/abstract/'as a;

.button {
  font: inherit;
  border: 1px solid a.$gray;
  color: a.$gray;
  padding: 0.25rem 1rem;
  cursor: pointer;
  transition: .3s;
}

.button:hover,
.button:active {
  background-color: a.$gray;
  color: #fff;
}

.button:focus {
  outline: none;
}