.container {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: 20vh 80vh repeat(7, 1fr);
    // grid-template-rows: 20vh 80vh repeat(auto-fill, 1fr) 200px;
    // grid-template-rows: minmax(100px, max-content) repeat(auto-fill, 200px) 20%;
    // grid-template-rows: 20vh 80vh repeat(7, 1fr);
    // gap: 1em;
    max-width: 1920px;
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    padding: 1em;
  }

}