@use "../../../scss/abstract/"as a;

.label {
  font-size: a.$f16;
  font-weight: 700;
  letter-spacing: 0px;
  padding: 1em;
  width: 100%;

}

.input {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid a.$gray;
  padding: .5em 0;
  font-family: a.$font-base;
  font-size: a.$f18;
  font-weight: 300;


  &:focus {
    outline: none;
  }

  &::placeholder {
    font-size: a.$f18;
    color: a.$place-holder;
    font-weight: 400;

  }
}