@use 'sass:math';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');
// font-family: 'Merriweather', serif;
// font-family: 'Open Sans', sans-serif

$font-base: ('Open Sans', sans-serif);
$font-alt: ('Merriweather', serif);

$f90: #{math.div(90, 16)}em;
$f38: #{math.div(38, 16)}em;
$f36: #{math.div(36, 16)}em;
$f30: #{math.div(30, 16)}em;
$f26: #{math.div(26, 16)}em;
$f24: #{math.div(24, 16)}em;
$f22: #{math.div(22, 16)}em;
$f18: #{math.div(18, 16)}em;
$f16: #{math.div(16, 16)}em;
$f14: #{math.div(14, 16)}em;
$f13: #{math.div(13, 16)}em;