// @import '../../../scss/main.scss';
// @import '../../../scss/settings/mixins';
// @import '../../../scss/settings/_mixins.scss';
// @use '../../../scss/settings/_mixins.scss';
@use '../../../scss/settings/mixins'

.login-btns-container {
  margin-top: 2em;
  grid-column: 4/-1;
  grid-row: 1/1;
  @include flex(row, space-between, center);
  font-size: $f14;

  button {
    padding: .5em;
    cursor: pointer;
  }
}

.active {
  border: 0.75px solid $border;
}