@use '../../../scss/abstract/'as a;

.login-btns-container {
  margin-top: 2em;
  grid-column: 4/-1;
  grid-row: 1/1;
  @include a.flex(row, space-between, center);
  font-size: a.$f14;

  button {
    padding: .5em;
    cursor: pointer;
  }
}

.non-active {
  border: none;
}

.active {
  border: 0.75px solid a.$border;
}