// @import '../../../scss/settings/mixins';
// @import '../../../scss/main.scss';
@use '../../../scss/settings/fonts';
@use '../../../scss/settings/mixins';

.ul {
  @include flex(row, space-between, center);
  font-size: $f18;

}

.active {
  border: 0.75px solid $gray;
  padding: 1em;
}