@use '../../../scss/abstract'as a;

.step-icon-container {
  flex-basis: 25%;
  @include a.flex(column, center, center);
  gap: .5em;
}

.icon-description {
  min-height: 2em;
  display: grid;
  place-content: center;
  font-size: a.$f18;

}

.content-description {
  font-size: a.$f16;
}

.line {
  display: block;
  width: 4em;
  height: 1px;
  background-color: a.$gray;
}

.icon-description,
.content-description {
  text-align: center;
  max-width: 80%;
}